.filters {
  width: 220px;
  padding: 0 50px;
}

.row {
  margin-bottom: 20px;
}

.row :global(label) {
  display: block;
  margin-bottom: 5px;
}

.row :global(select) {
  font-size: 16px;
  width: 200px;
}

.row :global(input[type='range']) {
  width: 160px;
}

.button {
  text-align: center;
}